<!DOCTYPE html>
<html>
<head>
    <title>Video List</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'video_manager/favicon.png' %}">
</head>
<body>
{% block content %}
    <h2>{{ video.name }}</h2>
    <div>
        <img src="{{ video.iconUri }}" alt="Video Icon" loading="lazy">
        <p>Short Name: {{ video.shortName }}</p>
        <p>Source: {{ video.source }}</p>
        <p>Description: {{ video.description }}</p>
    </div>
{% endblock %}
</body>