<!DOCTYPE html>
<html>
<head>
    <title>{{ video.name }}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'video_manager/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'video_manager/w3.css' %}">
</head>
<body class="w3-content w3-padding">
{% block content %}
    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <h1 class="w3-xxlarge"><b>STREAM</b></span></h1>
        </div>
    </header>
    <h2 class="w3-xlarge"><b>{{ video.name }}</b></span></h2>
    <div>
        <img src="{{ video.iconUri }}" alt="Video Icon">
        <p>Short Name: {{ video.shortName }}</p>
        <p>Source: {{ video.source }}</p>
        <p>Description: {{ video.description }}</p>
    </div>
{% endblock %}
</body>